mixin invoiceCustomer()
  .invoice__customer
    h4.invoice__title Thông tin khách hàng
    .invoice__customer-name
      span 
        i.fas.fa-user
      span 
        | GiangLe
        br
        | Leanhgiang89@gmail.com

    .invoice__customer-address
      span
        i.fas.fa-phone-alt
      span Tòa nhà Hà Nội group 442 Đội Cấn, Ba Đình Hà Nội
    .invoice__customer-phone
      span 
        i.fas.fa-map-marker-alt
      span (04) 3786 8904
    .invoice__customer-address-detail