@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@font-face {
  font-family: "UTM Aquarelle";
  src: url("../fonts/utm-aquarelle.ttf") format("truetype");
}

@font-face {
  font-family: "UTM Caviar";
  src: url("../fonts/utm-caviar.ttf") format("truetype");
}

@font-face {
  font-family: "UVF Aphrodite Pro";
  src: url("../fonts/uvf-aphrodite-pro.ttf") format("truetype");
}

@font-face {
  font-family: "UVF Didot";
  src: url("../fonts/uvf-didot.ttf") format("truetype");
}

@font-face {
  font-family: "UTM Alpine KT";
  src: url("../fonts/utm-alpine-kt.ttf") format("truetype");
}
