.blog-list-page {
  margin-top: 1.5rem;
  margin-bottom: 6rem;

  .title {
    margin-top: 2.6rem;
    .heading__title {
      font-size: 2.4rem;
      color: $title-text;
    }
  }

  .post {
    margin-bottom: 2rem;
  }
}

@include mq("md", "max") {
  .blog-list-page {
    margin-bottom: 4rem;

    .title {
      margin-top: 2rem;
      margin-bottom: 3rem;

      .heading__title {
        font-size: 2.2rem;
      }
    }
  }
}
