.signup {
  margin-top: 1.5rem;
  margin-bottom: 8rem;

  .title {
    margin-top: 2.6rem;
    .heading__title {
      font-size: 2.4rem;
      color: $title-text;
    }
  }

  .heading {
    display: inline-block;
  }

  .signup-title {
    margin-bottom: 3rem;
  }
}

@include mq("lg", "max") {
  .signup {
    margin-bottom: 4rem;

    .title {
      margin-top: 2rem;
      margin-bottom: 3rem;

      .heading__title {
        font-size: 2.2rem;
      }
    }

    .signup-title {
      margin-bottom: 1rem;
    }
  }
}
