mixin share
  .share
    .share-facebook
      button.btn-share
        i.fab.fa-facebook-square
        span.share-text Like
      span.share-number 0
    .share-twitter
      button.btn-share
        i.fab.fa-twitter
        span.share-text Tweet
      span.share-number 0
    .share-pinterest
      button.btn-share
        i.fab.fa-pinterest-square
        span.share-text Pin
      span.share-number 0
