extends ../layouts/default-layout

block vars
  - title = 'This is introduce Page';
  - bodyClass = 'page-wrapper';
  -
    const breadcrumbData = [
    	{
    		href: "#", 
    		anchor: "Trang chủ"
    	},
    	{
    		href: "#", 
    		anchor: "Liên hệ"
    	}
    ]

block append mixins
  include ../components/breadcrumb
  include ../components/heading
  include ../components/form

block append includes

block main
  main.contact
    .container
      +breadcrumb(breadcrumbData)
      +title("Liên hệ")
      .row
        .col-lg-8
          .contact__map
            img(src="../images/contact-google-map.png", alt="Google Map")
        .col-lg-4
          .contact__body
            .contact__content
              .contact__logo
                img(src="../images/contact-logo.png", alt="Logo")
              .contact__address
                span
                  i.fas.fa-map-marker-alt
                span Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
              .contact__phone
                span
                  i.fas.fa-phone-alt
                span (04) 6674 2332
              .contact__email
                span
                  i.fas.fa-envelope
                span support@milano.com
            .contact__social
              h3 Follow us
              ul
                li
                  a(href='#')
                    i.fab.fa-twitter
                li
                  a(href='#')
                    i.fab.fa-google-plus-g
                li
                  a(href='#')
                    i.fab.fa-dribbble
                li
                  a(href='#')
                    i.fas.fa-rss
      .row
        .col-lg-8
          form.contact__form
            +inputHorizontal("name", "text", "Your name", "", false, true)
            +inputHorizontal("email", "text", "Your email", "", false, true)
            +inputHorizontal("email", "text", "Subject", "", false, true)
            +textareaHorizontal("comment", "Your message", "", "4", "30", true)
            +buttonItemForm