body {
  min-height: 2000px;
}

.header {
  .carousel {
    position: relative;
  }

  &.default {
    .header__top {
      position: relative;
      background-color: $white-color;

      a,
      .header__search-icon,
      .header__search-input {
        color: $body-text;
      }
    }
  }

  .header__top {
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: $white-color, $alpha: 0.2);
    z-index: 20;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @include mq("md", "max") {
    .header__top {
      padding: 0;
    }
  }
}

.header__slider {
  .header__slider-item {
    position: relative;

    .header__slider-content {
      position: absolute;
      top: 50%;
      transform: translateY(-75%);
    }
  }

  .header__slider-title {
    position: relative;
    color: $white-color;
    opacity: 0.6;

    .header__slider-title--big {
      font-family: $third-font-family;
      font-size: 385.22px;
      line-height: 1;
    }

    .header__slider-title--medium {
      position: absolute;
      top: 6rem;
      right: 30rem;
      font-family: $third-font-family;
      font-size: 84.13px;
    }

    .header__slider-title--small {
      font-family: $tenth-font-family;
      font-size: 43.59px;
    }
  }

  .carousel-indicators li {
    height: 5px;
  }

  .carousel-indicators .active {
    opacity: 1;
    background-color: $primary-color;
  }

  @include mq("xl", "max") {
    .header__slider-title {
      .header__slider-title--big {
        font-size: 25rem;
      }

      .header__slider-title--medium {
        position: static;
        display: inline-block;
        font-size: 5rem;
      }
    }
  }

  @include mq("lg", "max") {
    .header__slider-title {
      .header__slider-title--big {
        font-size: 15rem;
      }

      .header__slider-title--medium {
        position: static;
        display: inline-block;
        font-size: 5rem;
      }
    }
  }

  @include mq("md", "max") {
    .carousel-indicators li {
      height: 3px;
    }

    .header__slider-title {
      .header__slider-title--big {
        font-size: 5rem;
      }

      .header__slider-title--medium {
        position: static;
        display: inline-block;
        font-size: 3rem;
      }

      .header__slider-title--small {
        font-size: 2rem;
        display: block;
      }
    }
  }

  @include mq("sm", "max") {
    .carousel-indicators li {
      height: 3px;
    }

    .header__slider-title {
      .header__slider-title--small {
        display: none;
      }
    }
  }
}

.header__left {
  .header__top-menu {
    margin-bottom: 0;
    > li {
      > a {
        display: none;

        @include mq("lg", "max") {
          position: relative;
          display: static;
          display: block;
          padding-right: 2rem;
          font-size: 1.6rem;
          color: $header-menu-top-color;
          text-transform: uppercase;

          &:hover,
          &:active {
            color: $primary-color;
          }

          &:hover ~ ul,
          &:focus ~ ul,
          &:active ~ ul {
            opacity: 1;
            visibility: visible;
          }

          &::before {
            position: absolute;
            font-family: $font-awesome;
            content: "\f107";
            font-weight: 900;
            position: absolute;
            right: 0;
            top: 50%;
            display: block;
            font-size: 1.3rem;
            line-height: 1;
            margin-top: -0.6rem;
          }
        }
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $header-menu-top-color;

        li + li {
          margin-left: 2rem;
          position: relative;
        }

        a {
          color: inherit;

          &:hover,
          &:active {
            color: $primary-color;
          }
        }

        li:not(:first-child)::before {
          position: absolute;
          content: "-";
          top: 0;
          left: -1rem;
          transform: translateX(-50%);
          color: inherit;
        }
      }

      @include mq("lg", "max") {
        ul {
          position: absolute;
          color: $body-text;
          top: 100%;
          left: 0;
          flex-direction: column;
          align-items: flex-start;
          background-color: $white-color;
          padding: 2rem 2rem;
          margin-left: 0.4rem;
          box-shadow: 5px 10px 16px
              rgba($color: $box-shadow-color, $alpha: 0.05),
            -5px 10px 16px rgba($color: $box-shadow-color, $alpha: 0.05);
          border-radius: 2px;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
          z-index: 10;

          li {
            font-size: 1.6rem;
          }

          li + li {
            margin-left: 0;
          }

          li:not(:first-child)::before {
            display: none;
          }
        }
      }
    }
  }
}

.header__right {
  .header__search {
    display: flex;
  }

  .header__search-input {
    padding: 0rem 2rem;
    border: 0;
    color: $header-menu-top-color;
    font-style: italic;
    border-left: 1px solid $header-menu-top-color;
    outline: 0;
    margin-right: 2rem;
    transition: all 0.25s linear;
    background-color: transparent;
  }

  button {
    outline: 0;
    border: 0;
  }

  .header__search-icon {
    color: $header-menu-top-color;
    font-size: 1.6rem;
  }
}

.header__middle {
  background-color: $dark-text;
  // min-height: 16rem;
  // padding: 1.4rem 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__left {
    .logo__wrapper {
      min-height: 135px;
      text-align: center;
      color: $primary-color;
      position: relative;
    }

    .logo__image-main {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    .logo__image-bg {
      position: absolute;
      top: 0;
      left: 1.5rem;
      z-index: 1;
    }

    .logo__title {
      font-family: $seventh-font-family;
      color: inherit;
      font-size: 2.9rem;
      padding-top: 4rem;
      text-align: center;
    }

    .logo__desc {
      font-family: $eighth-font-family;
      font-size: 1.6rem;
      font-weight: 300;
      color: inherit;
      display: block;
    }
  }

  .menu.sf-arrows {
    > li {
      .sf-with-ul {
        padding-right: 1.5rem;
      }
    }

    .sf-with-ul {
      position: relative;
    }

    .sf-with-ul::after {
      font-family: $font-awesome;
      content: "\f107";
      font-weight: 900;
      position: absolute;
      right: 0;
      top: 50%;
      display: block;
      font-size: 1.3rem;
      line-height: 1;
      margin-top: -0.6rem;
    }

    @include mq("lg", "max") {
      .sf-with-ul::after {
        display: none;
      }
    }
  }

  .menu {
    display: flex;
    color: $white-color;
    margin-bottom: 0;

    li {
      position: relative;

      &:hover,
      &:focus {
        .mega__menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    > li {
      > a {
        color: $white-color;
        font-weight: 500;
        font-size: 1.4rem;
        letter-spacing: -0.01em;
        padding: 6.8rem 3rem;
        text-transform: uppercase;

        &:hover,
        &:focus {
          color: $primary-color;
        }
      }
    }

    a {
      display: block;
      text-decoration: none;
    }
  }

  .header__right {
    .mega__menu {
      position: absolute;
      top: 100%;
      left: -18rem;
      min-width: 945px;
      z-index: 3;
      background-color: $white-color;
      border-radius: 2px;
      border: 1.5px solid $primary-color;
      box-shadow: 5px 10px 16px rgba($color: $box-shadow-color, $alpha: 0.05),
        -5px 10px 16px rgba($color: $box-shadow-color, $alpha: 0.05);
      padding: 4rem 3rem;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s;
      z-index: 10;

      &::before {
        position: absolute;
        content: "";
        border-style: solid;
        border-width: 12px 14px;
        border-color: transparent transparent $primary-color transparent;
        top: -2.5rem;
        left: 25rem;
        z-index: 2;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
      }

      ul {
        a {
          color: $header-menu-mega-color;
          text-transform: none;
          padding: 0;

          &:hover,
          &:focus {
            color: $primary-color;
          }
        }
      }

      .menu-title {
        font-weight: 500;
        color: $dark-text;
        text-transform: uppercase;
      }

      img {
        width: 330px;
        height: auto;
      }
    }

    @include mq("lg", "max") {
      .mega__menu {
        display: none;
      }
    }
  }

  @include mq("lg") {
    .menu__mobile,
    .mobile__search {
      display: none;
    }

    .menu__mobile-toggle,
    .menu__input,
    .bg-overlay {
      display: none;
    }
  }

  @include mq("lg", "max") {
    .bg-overlay {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($color: $bg-overlay, $alpha: 0.25);
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      visibility: hidden;
      opacity: 0;
      z-index: 30;
    }

    .menu__mobile-bar {
      font-size: 2.6rem;
      color: $white-color;
    }

    .menu__input:checked ~ .bg-overlay {
      visibility: visible;
      opacity: 1;
    }

    .menu__input:checked ~ .main__menu {
      visibility: visible;
      -webkit-transform: translateX(-280px);
      transform: translateX(-280px);
    }

    .main__menu {
      position: fixed;
      background-color: $bg-menu-mobile;
      max-width: 280px;
      width: 100%;
      right: -280px;
      top: 0;
      bottom: 0;
      z-index: 100;
      will-change: transform;
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;

      .menu.sf-arrows {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.2rem;
        line-height: 1.5;

        li {
          border-bottom: 0.1rem solid rgba($color: $white-color, $alpha: 0.08);
          width: 100%;
          display: block;
          padding: 0 2rem;
          a {
            padding: 1rem 0rem;
          }
        }
      }

      .menu__mobile-close {
        color: $white-color;
        padding-left: 2rem;
        -webkit-transition: color 0.35s;
        transition: color 0.35s;
        margin-bottom: 2rem;
        margin-top: 2rem;
      }

      .mobile__search {
        display: flex;
        padding: 0 2rem;
        margin-bottom: 2rem;

        input {
          padding: 0.5rem 2rem;
          border: 1px solid rgba($color: $white-color, $alpha: 0.08);
          border-radius: 0;
          color: $header-menu-top-color;
          font-size: 1.4rem;
          font-style: italic;
        }

        button {
          padding: 0.5rem 2rem;
          background-color: $primary-color;
          border-radius: 0;
          margin: 0;

          i {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  @include mq("lg", "max") {
    .header__left {
      .logo__wrapper {
        min-height: unset;
      }

      .logo__title {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin: 0;
      }

      .logo__image-main,
      .logo__image-bg {
        display: none;
      }
    }
  }

  @include mq("xl", "max") {
    .header__left {
      .logo__wrapper {
        min-height: unset;
      }

      .logo__title {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin: 0;
      }

      .logo__image-main,
      .logo__image-bg {
        display: none;
      }
    }

    .header__right {
      .mega__menu {
        left: -20rem;

        &::before {
          left: 26.5rem;
        }
      }
    }
  }
}
