mixin deal
  section.deal
    .container
      .row
        .col-md-12.col-xs-12
          .deal__wrapper
            .deal__banner
              img(src="../images/deal.png", alt="Deal")
            .deal__body
              .product.horizontal
                figure.product__media
                  span.product__label.product__label-sale
                  span.product__label-text Sale
                  a(href="#")
                    img(src="../images/product-7.png", alt="Deal")
                .product__body
                  h3.product__title
                    a(href="#") Rượu nho năm 1987
                  .product__price 
                    span.product__price-new 330.000đ
                    span.product__price-old 360.000đ
                  .product__action
                    button.btn-cart
                      span Add to cart
                  p.product__desc Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.

                  .product__deal
                    .product__deal-day
                      span.product__deal-number 334
                      span.product__deal-text Ngày
                    .product__deal-hour
                      span.product__deal-number 26
                      span.product__deal-text Giờ
                    .product__deal-minute
                      span.product__deal-number 60
                      span.product__deal-text Phút
                    .product__deal-second
                      span.product__deal-number 15
                      span.product__deal-text Giây
