mixin accountAddress()
  .account__address
    +inputHorizontal("first-name", "text", "Tên", "Giang")
    +inputHorizontal("last-name", "text", "Họ & tên đệm", "Lê Anh")
    +inputHorizontal("company", "text", "Công ty", "Cổ phần công nghệ DKT")
    +inputHorizontal("address", "text", "Địa chỉ", "Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội")
    +inputHorizontal("city", "text", "Thành phố", "Hà Nội")
    +inputHorizontal("country", "text", "Quốc tịch", "Việt Nam")
    +inputHorizontal("postal", "text", "Postal/Zip Code", "2300089")
    +inputHorizontal("phone", "text", "Phone", "0974554928")
    +checkboxHorizontal("isDefault", "checkbox", "Đặt làm địa chỉ mặc định?")
    +buttonHorizontalForm