mixin accountAddressItem()
  li.account__address-item
    +inputHorizontal("first-name", "text", "Tên", "Giang", true)
    +inputHorizontal("last-name", "text", "Họ & tên đệm", "Lê Anh", true)
    +inputHorizontal("company", "text", "Công ty", "Cổ phần công nghệ DKT", true)
    +inputHorizontal("address", "text", "Địa chỉ", "Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội", true)
    +inputHorizontal("city", "text", "Thành phố", "Hà Nội", true)
    +inputHorizontal("country", "text", "Quốc tịch", "Việt Nam", true)
    +inputHorizontal("postal", "text", "Postal/Zip Code", "2300089", true)
    +inputHorizontal("phone", "text", "Phone", "0974554928", true)
    +buttonLinkForm