-
  const bannerData = [
		{
			image: "../images/banner-1.png",
		  title: "Rượu",
		  desc: "1987"
  	},
  	{
			image: "../images/banner-2.png",
			title: "Rượu",
			desc: "1987"
  	},
  	{
			image: "../images/banner-3.png",
			title: "Rượu",
			desc: "1987"
  	},
  	{
			image: "../images/banner-4.png",
			title: "Rượu",
			desc: "1987"
  	},
  	{
			image: "../images/banner-5.png",
			title: "Rượu",
			desc: "1987"
  	},
  	{
			image: "../images/banner-6.png",
			title: "Rượu",
			desc: "1987"
  	}
  	,{
			image: "../images/banner-7.png",
			title: "Rượu",
			desc: "1987"
  	},
  	{
			image: "../images/banner-8.png",
			title: "Rượu",
			desc: "1987"
  	}
	]
