-
  const categories = [
    {
      href: "#",
      name: "Rượu ngoại",
      sub: [
        {
          href: "#",
          name: "Rượu Chivas (26)",
        },
        {
          href: "#",
          name: "Hàng độc - Rượu độc đáo (36)",
          sub: [
            {
              href: "#",
              name: "Johnnie Walker (46)",
            }
          ]
        },
        {
          href: "#",
          name: "Rượu Whisky (24)",
        },
        {
          href: "#",
          name: "Rượu Remy Martin (16)",
        },
        {
          href: "#",
          name: "Rượu Glenmorangie (11)",
        },
        {
          href: "#",
          name: "Rượu Ballantine's (7)",
        },
        {
          href: "#",
          name: "Rượu Cognac (40)",
        },
        {
          href: "#",
          name: "Rượu Vodka (93)",
        },
        {
          href: "#",
          name: "Rượu Macallan (19)",
        },
        {
          href: "#",
          name: "Rượu Brandy (62)",
        },
        {
          href: "#",
          name: "Rượu Hennessy (20)",
        },
        {
          href: "#",
          name: "RượuGin - Tequila - Liqueur - Rượu mùi (36)",
        },
        {
          href: "#",
          name: "Rượu Champagne (12)",
        },
        {
          href: "#",
          name: "Rượu Single malt Scotch whisky (47)",
        },
        {
          href: "#",
          name: "Rượu Spirits (4)",
        }
      ]
    },
    {
      href: "#",
      name: "Rượu vang",
      sub: [
        {
          href: "#",
          name: "Rượu Vang Pháp (44)",
        },
        {
          href: "#",
          name: "Rượu Vang Úc (34)",
        },
        {
          href: "#",
          name: "Rượu Vang Mỹ (16)",
        },
        {
          href: "#",
          name: "Rượu Vang ChiLe (48)",
        },
        {
          href: "#",
          name: "Rượu Vang Philip (1)",
        },
        {
          href: "#",
          name: "Rượu Vang Nam Phi (20)",
        },
        {
          href: "#",
          name: "Rượu Vang Ý (2)",
        }
      ]
    }
  ]
