-
  const invoiceAction = [
    {
      href: "#",
      anchor: "Trạng thái Tất cả (16)"
    },
    {
      href: "#",
      anchor: "Đã hủy (10)"
    },
    {
      href: "#",
      anchor: "Chưa duyệt (0)"
    },
    {
      href: "#",
      anchor: "Đã duyệt (0)"
    },
    {
      href: "#",
      anchor: "Đã thanh toán-chờ mua hàng (0)"
    },
    {
      href: "#",
      anchor: "Đã mua hàng (0)"
    },
    {
      href: "#",
      anchor: "Hàng đã về-chờ giao hàng (0)"
    },
    {
      href: "#",
      anchor: "Đã kết thúc (6)"
    }
  ]

-
  const tableInvoice = {
    head: [
      "STT",
      "Mã hóa đơn/Ngày mua hàng",
      "Kho nhận hàng",
      "Số sản phẩm",
      "Tổng tiền",
      "Tình trạng",
      "Thao tác"
    ],
    body: [
      {
        stt: "01",
        usename: "Leanhgiang89",
        dateDelivery: "17/06/2021",
        dateBuyHour: "01:36",
        dateBuy: "14/03/2021",
        stock: "Hà Đông",
        numItem: "7",
        totalPrice: "350.000đ",
        status: "Đã thanh toán",
        detail: "Chi tiết",
      },
      {
        stt: "02",
        usename: "Leanhgiang89",
        dateDelivery: "17/06/2021",
        dateBuyHour: "01:36",
        dateBuy: "14/03/2021",
        stock: "Hà Đông",
        numItem: "7",
        totalPrice: "350.000đ",
        status: "Đã thanh toán",
        detail: "Chi tiết",
      },
      {
        stt: "03",
        usename: "Leanhgiang89",
        dateDelivery: "17/06/2021",
        dateBuyHour: "01:36",
        dateBuy: "14/03/2021",
        stock: "Hà Đông",
        numItem: "7",
        totalPrice: "350.000đ",
        status: "Đã thanh toán",
        detail: "Chi tiết",
      },
      {
        stt: "04",
        usename: "Leanhgiang89",
        dateDelivery: "17/06/2021",
        dateBuyHour: "01:36",
        dateBuy: "14/03/2021",
        stock: "Hà Đông",
        numItem: "7",
        totalPrice: "350.000đ",
        status: "Đã thanh toán",
        detail: "Chi tiết",
      },
      {
        stt: "05",
        usename: "Leanhgiang89",
        dateDelivery: "17/06/2021",
        dateBuyHour: "01:36",
        dateBuy: "14/03/2021",
        stock: "Hà Đông",
        numItem: "7",
        totalPrice: "350.000đ",
        status: "Đã thanh toán",
        detail: "Chi tiết",
      },
      {
        stt: "06",
        usename: "Leanhgiang89",
        dateDelivery: "17/06/2021",
        dateBuyHour: "01:36",
        dateBuy: "14/03/2021",
        stock: "Hà Đông",
        numItem: "7",
        totalPrice: "350.000đ",
        status: "Đã thanh toán",
        detail: "Chi tiết",
      }
    ]
  }
