-
  const mainMenu = [
  	{
  		href: "#",
  		anchor: "Trang chủ",
  		isMega: false
  	},
  	{
  		href: "#",
  		anchor: "Rượu vang đỏ",
  		isMega: true,
  		megaMenu: [
  			{
  				title: "Rượu ngoại",
  				data: [
  					{
  						href: "#",
  						anchor: "Rượu Chivas",
  					},
  					{
  						href: "#",
  						anchor: "Hàng độc - Rượu độc đáo",
  					},
  					{
  						href: "#",
  						anchor: "Johnnie Walker",
  					},
  					{
  						href: "#",
  						anchor: "Rượu Whisky",
  					},
  					{
  						href: "#",
  						anchor: "Rượu Remy Martin",
  					},
  					{
  						href: "#",
  						anchor: "Rượu Glenmorangie ",
  					}
  				]
  			},
  			{
  				title: "Rượu Vang",
  				data: [
  					{
  						href: "#",
  						anchor: "Rượu Chivas",
  					},
  					{
  						href: "#",
  						anchor: "Hàng độc - Rượu độc đáo",
  					},
  					{
  						href: "#",
  						anchor: "Johnnie Walker",
  					},
  					{
  						href: "#",
  						anchor: "Rượu Whisky",
  					},
  					{
  						href: "#",
  						anchor: "Rượu Remy Martin",
  					},
  					{
  						href: "#",
  						anchor: "Rượu Glenmorangie ",
  					}
  				]
  			},
  			{
  				title: "Rượu ngoại",
  				data: [
  					{
  						href: "#",
  						anchor: "Rượu Chivas",
  					},
  					{
  						href: "#",
  						anchor: "Hàng độc - Rượu độc đáo",
  					},
  					{
  						href: "#",
  						anchor: "Johnnie Walker",
  					},
  					{
  						href: "#",
  						anchor: "Rượu Whisky",
  					},
  					{
  						href: "#",
  						anchor: "Rượu Remy Martin",
  					},
  					{
  						href: "#",
  						anchor: "Rượu Glenmorangie ",
  					}
  				]
  			}
  		]
  	},
  	{
  		href: "#",
  		anchor: "Rượu trắng",
  		isMega: false
  	},
  	{
  		href: "#",
  		anchor: "CHAMPAGNE",
  		isMega: false
  	},
  	{
  		href: "#",
  		anchor: "Thông tin",
  		isMega: false
  	},
  	{
  		href: "#",
  		anchor: "Blog",
  		isMega: false
  	},
  	{
  		href: "#",
  		anchor: "Liên hệ",
  		isMega: false
  	}
  ]

-
  const subMenu = [
  	{
  		href: "#",
  		anchor: "Tài khoản của tôi",
  	},
  	{
  		href: "#",
  		anchor: "Trạng thái đơn hàng",
  	},
  	{
  		href: "#",
  		anchor: "Danh sách ưa thích",
  	},
  	{
  		href: "#",
  		anchor: "Giỏ hàng",
  	},
  	{
  		href: "#",
  		anchor: "Đăng nhập",
  	},
  	{
  		href: "#",
  		anchor: "Đăng ký",
  	}
  ]
