-
  const postHomeData = [
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-1.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      },
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-2.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      }
    ]

-
  const postBlogData = [
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-1.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      },
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-2.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      },
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-1.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      },
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-2.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      },
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-1.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      },
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-2.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      },
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-1.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      },
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-2.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      },
      {
        title: "Vang Thăng Long Classic",
        slug: "#",
        thumbnail: "../images/post-1.png",
        author: "Giangle",
        public: "30/06/2021",
        comment: "60",
        desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
      }
    ]

-
  const postDetailData = {
    title: "Vang Thăng Long Classic",
    slug: "#",
    thumbnail: "../images/post-1.png",
    author: "Giangle",
    public: "30/06/2021",
    comment: "60",
    desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từhoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảmgiác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."
  }

-
  const postNewData = [
    {
      thumbnail: "../images/blog-detail-news-1.png",
      title: "Cách sắp xếp nội thất trong nhà",
      slug: "#",
      public: "12/06/2021"
    },
    {
      thumbnail: "../images/blog-detail-news-2.png",
      title: "Cách sắp xếp nội thất trong nhà",
      slug: "#",
      public: "16/06/2021"
    },
    {
      thumbnail: "../images/blog-detail-news-3.png",
      title: "Cách sắp xếp nội thất trong nhà",
      slug: "#",
      public: "20/06/2021"
    }
  ]
