-
  const sliderBanner = [
    {
      isActive: "active",
      image: "../images/slide-1.jpg",
      titleBig: "Rượu",
      titleMedium: "Vang đỏ",
      titleSmall: "Since 1980"
    },
    {
      isActive: "",
      image: "../images/slide-1.jpg",
      titleBig: "Rượu",
      titleMedium: "Vang đỏ",
      titleSmall: "Since 1980"
    },
    {
      isActive: "",
      image: "../images/slide-1.jpg",
      titleBig: "Rượu",
      titleMedium: "Vang đỏ",
      titleSmall: "Since 1980"
    }
  ]
