-
  const tableCart = {
    head: [
      "Ảnh",
      "Tên sản phẩm",
      "Giá",
      "Số lượng",
      "Tổng số",
      "Xóa"
    ],
    body: [
      {
        image: "../images/cart-image-1.png",
        product: "Rượu vang đỏ",
        price: "345.000 đ",
        count: "1",
        sum: "345.000 đ"
      },
      {
        image: "../images/cart-image-1.png",
        product: "Rượu vang đỏ",
        price: "345.000 đ",
        count: "1",
        sum: "345.000 đ"
      },
      {
        image: "../images/cart-image-1.png",
        product: "Rượu vang đỏ",
        price: "345.000 đ",
        count: "1",
        sum: "345.000 đ"
      },
      {
        image: "../images/cart-image-1.png",
        product: "Rượu vang đỏ",
        price: "345.000 đ",
        count: "1",
        sum: "345.000 đ"
      },
    ]
  }
