-
  const tagProduct = [
    {
      href: "#",
      anchor: "Đồng hồ"
    },
    {
      href: "#",
      anchor: "Túi"
    },
    {
      href: "#",
      anchor: "Phụ kiện"
    },
    {
      href: "#",
      anchor: "Giày"
    },
    {
      href: "#",
      anchor: "Sandal"
    },
    {
      href: "#",
      anchor: "Áo sơ mi"
    },
    {
      href: "#",
      anchor: "Nước hoa"
    },
    {
      href: "#",
      anchor: "Trẻ em"
    },
    {
      href: "#",
      anchor: "Thời trang nữ"
    }
  ]
