-
  const testimonialData = [
    {
      customer: "Giang LT",
      job: "Graphic design",
      avatar: "../images/testimonial-1.png",
      message: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ..."
    },
    {
      customer: "Giang LT",
      job: "Graphic design",
      avatar: "../images/testimonial-1.png",
      message: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ..."
    },
    {
      customer: "Giang LT",
      job: "Graphic design",
      avatar: "../images/testimonial-1.png",
      message: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ..."
    }
  ]
