mixin headerMiddle
  .header__middle
    .container
      .header__left
        a.logo(href="#")
          figure.logo__wrapper
            h1.logo__title
              | Wine House
              span.logo__desc Since 1980
            img.logo__image-main(src="../images/logo.png", alt="")
            img.logo__image-bg(src="../images/bg-logo.png", alt="")
      .header__right
        button.menu__mobile-toggle
          label(for="menu__input-check")
            i.fas.fa-bars.menu__mobile-bar
        input#menu__input-check.menu__input(type="checkbox", hidden)
        label.bg-overlay(for="menu__input-check")
        nav.main__menu
          +headerMobile
          +menuMega(mainMenu)
